@font-face {
    font-family: 'Retropix';
    src: url('../assets/fonts/retropix.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

#container{
background-color: black;
}

body{
      margin: 0;
      padding: 0;
      overflow: hidden;
}
